body{
    text-align: center;
    background: linear-gradient( #4287f5 0%,#4bf542 100%);
}
html
{
    scroll-behavior: smooth;
}

img{
  width:300;
  height:300;
    border-radius: 50%;
    
}
#myname{
   font-family: 'Courgette', cursive;
}
#welcome{
     padding:70px;
     text-align:center;
}

.line{
    height: 6px;
    background-color: rgb(40, 40, 40);
    width:70px;
    margin:8px auto;
}
#bio{
    padding: 20px;
    font-size:42;
    background:rgb(81, 121, 230);
    color: rgb(40, 40, 40);
}
#body_effects{
  padding: 20px;
  font-size:42;
  color: rgb(40, 40, 40);
}
#Mind_effects {
  padding: 20px;
  font-size:42;
  background:rgb(81, 121, 230);
  color: rgb(40, 40, 40);
}
#FSM {
  padding: 20px;
  font-size:42;
  color: rgb(40, 40, 40);
}
#Therapy {
  padding: 20px;
  font-size:42;
  background:rgb(81, 121, 230);
  color: rgb(40, 40, 40);
}
.menu{
   list-style: none;
    font-family:cursive;
   float:right;
    top:10px;
    right:30px;
    cursor: pointer;
    color:black;
}
.menu a{
    
    color:black !important;
}

.title {
  float: left;
}

.link{
    color:crimson;
    display: inline;
    padding-top:5px;
    padding-left:9px;
    padding-right:9px;
    padding-bottom: 5px;
}
   .link:hover{
    background-color:beige;
}

#Mywork a, #References a{
    font-size: 30px;
    
}

.button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
a
{
  text-decoration:none;
}

#about {
  color: rgb(40, 40, 40);
}

#intro {
  padding: 360px;
}

#Title {
  font-size: 75px;
}

#Sub-Title {
  font-size: 40px;
}

#bibliography {
  padding: 20px;
  font-size:42;
  color: rgb(40, 40, 40);
}
